<div class="p-4">
    <!-- <shared-search-box (inputValue)="searchRegion( $event )"
    title="Regiones"
    ></shared-search-box> -->
    <hr>
        <div class="text-center">
            <button *ngFor="let region of regions"
            class="btn btn-outline-primary mb-2 mx-3"
            (click)="searchRegion( region)"
            >
            {{ region }}
        </button>
        </div>
    <hr>
    
    <div class="alert alert-primary text-center" 
    *ngIf="loading">
        <p >Espera porfavor...</p>
        <img src="assets/circle/circle.svg" alt="">

    </div>

    <div *ngIf="dataResponse.length == 0 && loading == false; else table"
        class="alert alert-warning" role="alert">
       Haz una nueva busqueda...
    </div>

     <ng-template #table>
        <div  *ngIf="dataResponse.length > 0; ">
            <app-country-table [countries]="dataResponse"></app-country-table>
        
        </div>
    </ng-template>
</div>